body {
  margin: 0;
}

.hidden {
  display: none;
}

.banner {
  background: #E0E4CC;
  height: 50px;
  width: 100%;
  padding: 25px 0 25px 0;
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
}

input[type='range'] {
  /* margin-top: 10px; */
  -webkit-appearance: none;
  /* -webkit-border-radius: 5px; */
  background-color: #69D2E7;
  height: 30px;
  width: 100%;
  outline: none;
  -moz-outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 40px;
  background: #FA6900;
}

.slider {
  float: left;
  margin: 0 2.5%;
  width: 80%;
}

.text {
  width: 15%;
  height: 50px;
  float: left;
  font-family: 'Abril Fatface';
  font-size: 24px;
}

.login {
  text-align: center;
  padding-top: 6px;
  margin: 0 auto;
}

.login:hover {
  cursor: pointer;
}

.current-value {
  float: left;
  transition: color 2s;
  -webkit-transition: color 2s;
}

.average-value {
  padding-left: 10px;
}
