body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none;
}

.banner {
  background: #69D2E7;
  overflow: hidden;
  width: 100%;
  padding: 25px 0 25px 0;
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
}

input[type='range'] {
  /* margin-top: 10px; */
  -webkit-appearance: none;
  background-color: #2E9791;
  height: 30px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2) inset;
  outline: none;
  -moz-outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 40px;
  background: #41557B;
  border-radius: 3px;
}

.hide-button {
  color: #41557B;
  font-size: 24px;
  margin: 6px 0 0 2.5%;
  float: left;
}

.hide-button:hover {
  cursor: pointer;
}

.slider {
  float: left;
  margin: 0 2.5%;
  width: 80%;
}

.slider-input {
  float: left;
}

.text {
  color: #41557B;
  width: 10%;
  height: 50px;
  float: left;
  font-family: 'Abril Fatface';
  font-size: 24px;
}

.login {
  padding-top: 6px;
  margin: 0 auto;
}

.login:hover {
  cursor: pointer;
}

.current-value {
  float: left;
  transition: color 2s;
  -webkit-transition: color 2s;
}

.average-value {
  padding-left: 10px;
}
