.pagerate-iframe {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  z-index: 100000;
  width: 100%;
  -webkit-transition: height 1s ease-out;
}

.pagerate-margin {
  height: 100px;
  -webkit-transition: height 1s ease-out;
}

.pagerate-hidden {
  height: 0;
  overflow: hidden;
}
